# Node modules
node_modules/

# Playwright reports
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Screenshots
screenshots/

# Environment files
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Playwright authentication state
state.json

# Personal notes
notes